/*
Theme Name:     child_heavenly
Description:    Child theme of Heavely WordPress theme.
Author:         Nasem Baki
Template:       heavenly

(optional values you can add: Theme URI, Author URI, Version)
*/

@import url("../heavenly/style.css");

/** BODY **/
body {
    font-family: Arial, Helvetica, sans-serif;
}

h1:not(#contact-title) {
    text-align: center;
}


/* MOBILE LAYOUTS
 ================================
 */

@media (min-width: 1000px) {
    #mobile-process-flow, #mobile-checklist-guy, .mobile-tiles, #service-content-mobile, .btn-navbar {
        display: none;
    }
}

@media (max-width: 450px) {
    .nav > li {
        padding: 0;
    }
    #search-bar-area {
        display: none;
    }
}

@media (max-width: 979px) {
    .mobile-tiles {
        list-style-type: none;
        text-align: center;
        display: block;
    }
    .mobile-tiles > li {
        padding: 5px;
    }

    .service-table {
        display: none;
    }

}

/* Main page and content containers */

.page-container {
    background-size: cover;
}
.content-container {
    border-top: 2px solid #8c8c8c;
    border-bottom: 2px solid #8c8c8c;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

/* LINKS
 ==================================
 */

.current-menu-item > a {
    background-color: #3FAD21 !important;
}

a.content-link {
	color: #65d615;
}

a.content-link:link {
	text-decoration: underline;
}

a.content-link:hover {
	background-color: #65d615;
	color: white;
}

a.content-link:visited {
	font-weight: bold;
}

/* SERVICES PAGE
 ============================================
 */
table.service-table tr {
    border-bottom: 1px solid #65d615;
}

.left-content, .right-content {
    font-size: 30px;
    padding: 20px;
}

.left-content h4, .right-content h4 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #ffffff;
    background-color: #196063;
    text-align: center;
    padding: 10px;
}

.left-content p, .right-content p {
    font-size: 15px;
}

#hosting-list {
    list-style-type: square;
    margin-left: 50px;
}

/* CONTACT PAGE
 ===============================================
 */

.wpcf7  {
    width: 50%;
    float: left;
}

#contact-info, #contact-pic {
    float: right;
}

/* NAVIGATION
=====================================
*/

.nav {
    width: auto;
}

#search-bar-area {
    margin-top: 5px;
    float: right;
}

.nav-bar {
    border-radius: 4px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    font-size: 14px;
    text-align: center;
}

.nav > li {
    width: auto;
    padding: 20px;
    display: inline;
}

.nav > li > a {
    font-size: 18px;
    padding: 10px;
    border-radius: 7px;
    display: inline;
}

.nav-widget {
    float: right;
    display: inline-block;
}
.screen-reader-text {
    display: none;
}
.nav-area {
    height: 120px;
}

.navbar .nav > li > a {
    color: white;
}

/** FOOTER
=============================================
**/
.footer {
    border-bottom: 5px solid black;
}
.footer .container {
    height: auto;
}

.footer .buttom {
    height: 50px;
}

.footer-nav ul li {
    margin-right: 4px;
    display: inline;
}

.footer_menu > li > a {
    text-decoration: underline;
    font-size: 14px;
    padding: 2px;
}

.footer-table {
    text-align: center;
    font-size: 10px;
    border: none;
}
.footer * {
    vertical-align: bottom;
    margin-bottom: 0;
    border-bottom: 0px;
}

/* MISCELLANEOUS
================================================
*/

.wp-caption {
    border: 0;
}

.breadcrumbs a {
    display: inline;
}

/* MEDIA QUERIES
============================================================
*/

@media (max-width: 1000px) {
    #process-flow, #checklist-guy, .nav-area, #last-logo {
        display: none;
    }
}

@media (min-width: 700px) {
    #banner-header-mobile {
        display: none;
    }
}

@media (max-width: 700px) {
    .btn-navbar {
        clear: both;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        display: block;
    }
    #mobile-checklist-guy, #banner-header-mobile {
        display: block;
    }
    #mobile-process-flow {
        text-align: center;
        display: block;
    }
    .nav-bar {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .nav > li {
        display: block;
        padding: 0;
    }

    .nav > li > a {
        display: block;
        padding: 2px;
    }
    #banner-header {
        display: none;
    }
}
@media (max-width: 1350px) {
    #contact-info {
        width: auto;
        display: none;
    }
    #contact-pic {
        display: none;
    }
    #mobile-contact-info {
        display: block;
    }
}
@media (min-width: 1350px) {
    .nav-bar-mobile, #mobile-contact-info {
        display: none;
    }
}