/*
Theme Name:     child_heavenly
Description:    Child theme of Heavely WordPress theme.
Author:         Nasem Baki
Template:       heavenly

(optional values you can add: Theme URI, Author URI, Version)
*/

@import url("../heavenly/style.css");

/** BODY **/
/* MOBILE LAYOUTS
 ================================
 */

@media (min-width: 1000px) {
    .mobile-tiles {
        display: none;
    }
    #service-content-mobile {
        display: none;
    }
}

@media (max-width: 450px) {
    .nav > li {
        padding: 0;
    }
    #logo-area-right {
        display: none;
    }
    #search-bar-area {
        display: none;
    }
}

@media (max-width: 1350px) {
    #logo-area-left {
        display: none;
    }
}

@media (max-width: 979px) {
    .mobile-tiles {
        display: block;
    }
    .service-table {
        display: none;
    }

}

/* Main page and content containers */

.page-container {
    /*background: #8c8c8c;*/
    background-size: cover;
}
.content-container {
    border-top: 2px solid #8c8c8c;
    border-bottom: 2px solid #8c8c8c;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

/* LINKS
 ==================================
 */
a.content-link {
	color: #65d615;
}

a.content-link:link {
	text-decoration: underline;
}

a.content-link:hover {
	background-color: #65d615;
	color: white;
}

a.content-link:visited {
	font-weight: bold;
}
a.content-link:focus {
    background: red;
}

/* List Items */

ul.checklist li p {
	margin-left: 20px;
}

img#checklist-wrap {
	float: right;	
	padding: 0;
	max-width: 100%;
	margin: 5px;
	display: inline;
}

/* SERVICES PAGE
 ============================================
 */
table.service-table tr {
    border-bottom: 1px solid #65d615;
}

.left-content, .right-content {
    padding: 20px;
    border: 1px solid green;
}

.left-content h4, .right-content h4 {
    color: #444444;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #ccc;
    text-align: center;
}

.left-content p, .right-content p {
    font-size: 12px;
}
.even-row p {
    /*float: right;*/
}

.odd-row p {
    /*float: left;*/
}
.odd-row img {
    float: right;
    /*background-color: red;*/
}

/* CONTACT PAGE
 ===============================================
 */

.wpcf7  {
    width: 50%;
    float: left;
}

#contact-info {
    float: right;
}
#contact-pic {
    float: right;
    /*position: absolute;*/
    /*top: 150px;*/
    /*right: 540px;*/
}

/* NAVIGATION
=====================================
*/

.nav {
    width: auto;
}

#search-bar-area {
    margin-top: 5px;
    float: right;
}

.nav-bar {
    border-radius: 4px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    font-size: 14px;
    text-align: center;
    /*background-color: black;*/
}

.nav li:after {
}
.nav > li {
    width: auto;
    padding: 20px;
    display: inline;
}

.nav > li > a {
    padding: 10px;
    border-radius: 7px;
    display: inline;
}

.nav-widget {
    float: right;
    display: inline-block;
}
.screen-reader-text {
    display: none;
}
.nav-area {
    /*width: 80%;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    height: 120px;
}

.navbar .nav > li > a {
    color: white;
}

/** FOOTER
=============================================
**/
.footer {
    border-bottom: 5px solid black;
}
.footer .container {
    height: auto;
}

.footer .buttom {
    height: 50px;
}

.footer-logo {
    float: left;
    margin-top: auto;
    margin-bottom: auto;
}

.footer-nav ul li {
    margin-right: 4px;
    display: inline;
}
.footer-nav ul li a {
    text-decoration: underline;
    display: inline;
}
.nav-area-footer {
    width: 200px;
}
.span0 {
    width: 50px;
}
.footer-table {
    text-align: center;
    font-size: 10px;
    border: none;
}
.footer * {
    vertical-align: bottom;
    margin-bottom: 0;
    border-bottom: 0px;
}

/* MISCELLANEOUS
================================================
*/

.wp-caption {
    border: 0;
}

.breadcrumbs a {
    display: inline;
    /*width: 200px;*/
}

@media (max-width: 1000px) {
    .nav-area {
        height: auto;
    }
}
@media (max-width: 700px) {
    .nav-bar {
        margin-left: 10px;
        text-align: left;
    }

    .nav > li {
        display: block;
        padding: 0;
    }

    .nav > li > a {
        display: block;
        padding: 2px;
    }
}
@media (max-width: 1350px) {
    #contact-info {
        width: auto;
        display: none;
    }
    #contact-pic {
        display: none;
    }
    #mobile-contact-info {
        display: block;
    }
}
@media (min-width: 1350px) {
    .nav-bar-mobile {
        display: none;
    }
    #mobile-contact-info {
        display: none;
    }

}