/*
Theme Name:     child_heavenly
Description:    Child theme of Heavely WordPress theme.
Author:         Nasem Baki
Template:       heavenly

(optional values you can add: Theme URI, Author URI, Version)
*/

@import url("../heavenly/style.css");

/** BODY **/
/* Mobile Layouts */

@media (min-width: 1000px) {
    .mobile-tiles {
        display: none;
    }
    #service-content-mobile {
        display: none;
    }
}

@media (max-width: 450px) {
    #logo-area-right {
        display: none;
    }
}

@media (max-width: 1350px) {
    #logo-area-left {
        display: none;
    }
}

@media (max-width: 979px) {
    .mobile-tiles {
        display: block;
    }
    .service-table {
        display: none;
    }

}

/* Main page and content containers */

.page-container {
    /*background: #8c8c8c;*/
    background-size: cover;
}
.content-container {
    border-top: 2px solid #8c8c8c;
    border-bottom: 2px solid #8c8c8c;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

/* Links */
a.content-link {
	color: #65d615;
}

a.content-link:link {
	text-decoration: underline;
}

a.content-link:hover {
	background-color: #65d615;
	color: white;
}

a.content-link:visited {
	font-weight: bold;
}
a.content-link:focus {
    background: red;
}

/* List Items */
ul.checklist li {
	list-style-type: none;
	padding: 5px;
	background-image: url(images/empty_checkbox.jpg);
	background-repeat: no-repeat;
	background-position: 0px 5px;
	padding-left: 14px;
	margin-bottom: 0px;

}

ul.checklist li p {
	margin-left: 20px;
}

img#checklist-wrap {
	float: right;	
	padding: 0;
	max-width: 100%;
	margin: 5px;
	display: inline;
}

/* Services Content */
table.service-table tr {
    border-bottom: 1px solid #65d615;
}
.even-row img {
    float: left;
    /*background-color: blue;*/
}
.even-row p {
    /*float: right;*/
}

.odd-row p {
    /*float: left;*/
}
.odd-row img {
    float: right;
    /*background-color: red;*/
}

/* Contact Page */
#contact-info {
    position: absolute;
    top: 400px;
    right: 450px;
}
#contact-pic {
    position: absolute;
    top: 150px;
    right: 540px;
}

/* Logo area */
#logo-area-left {
    top: 150px;
    position: absolute;
    left: 100px;
}

#logo-area-right {
    top: 150px;
    position: absolute;
    right: 100px;
}

.logo {
    opacity: 0.95;
}

/* Navigation area */
.nav-widget {
    float: right;
    display: inline-block;
}
.screen-reader-text {
    display: none;
}
.nav-area {
    /*width: 80%;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    height: 120px;
}

.navbar .nav > li > a {
    color: white;
}

#brand-name-area {
    text-align: center;
    float: left;
}

#brand-title {
    color: #65d615;
    font-size: 28px;
}

#tech-services {
    color: white;
    width: 100px;
    font-size: 20px;
}

/** FOOTER **/
.footer {
    border-bottom: 5px solid black;
}
.footer .container {
    height: auto;
}

.footer .buttom {
    height: 50px;
}

.footer-logo {
    float: left;
    margin-top: auto;
    margin-bottom: auto;
}

.footer-nav ul li {
    margin-right: 4px;
    display: inline;
}
.footer-nav ul li a {
    text-decoration: underline;
    display: inline;
}
.nav-area-footer {
    width: 200px;
}
.span0 {
    width: 50px;
}
.footer-table {
    text-align: center;
    font-size: 10px;
    border: none;
}
.footer * {
    vertical-align: bottom;
    margin-bottom: 0;
    border-bottom: 0px;
}

.breadcrumbs a {
    display: inline;
    /*width: 200px;*/
}

@media (max-width: 1000px) {
    .nav-area {
        height: auto;
    }
}

@media (max-width: 1350px) {
    #contact-info {
        width: auto;
        display: none;
    }
    #contact-pic {
        display: none;
    }
    #mobile-contact-info {
        display: block;
    }
}
@media (min-width: 1350px) {
    #mobile-contact-info {
        display: none;
    }
}